**/.git
**/.github
**/node_modules
**/vendor
**/dist
**/.env
**/.env.*
!**/.env.example
portale-api/storage/logs/*
portale-api/storage/framework/cache/*
portale-api/storage/framework/sessions/*
portale-api/storage/framework/views/*
portale-api/database/*.sqlite
portale-api/bootstrap/cache/*.php
docs/winmino/*.pdf
**/.DS_Store
**/*.md
!**/README.md
